

#knowledge {
    display: flex;
    flex-flow: row wrap;
    padding: 5%;
    width: 100%;
}

.icon {
    width: 150px;
    height: 150px;
}

#knowledgetxt {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
}
